# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore virtual environments
venv/
.env/

# Ignore Python package files
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore the database files
*.sql
*.sqlite3


# Ignore local and environment-specific settings
.settings/
.vscode/
.idea/

# Ignore data directories
media/
staticfiles/
static/

# Ignore Docker-specific files
Dockerfile*
docker-compose*.yml

# Ignore node_modules if using frontend tools
node_modules/

# Ignore coverage and test reports
coverage/
*.cover
*.coverage
*.lcov
nosetests.xml
junit.xml
test-result.xml

# Ignore documentation builds
docs/_build/

# Ignore system files
.DS_Store
Thumbs.db
